[Unit]
Description=mbsync service

[Service]
Type=oneshot
Environment=NOTMUCH_CONFIG=@notmuchConfig@
ExecStart=@isync@/bin/mbsync --config @mbsyncConfig@ --all --verbose
ExecStartPost=@notmuch@/bin/notmuch new
