[Unit]
Description=mbsync service

[Service]
Type=oneshot
ExecStart=%h/.nix-profile/bin/mbsync-with-config --all --verbose
ExecStartPost=%h/.nix-profile/bin/notmuch new
